$light-blue: #1469ff;
$dark-blue: #0027c8;
$windowWidth: 1024px;
$windowHeight: 768px;
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: $windowWidth;
  height: $windowHeight;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;
}

%genericDiv {
  display: flex;
  margin: auto; // width: 1024px;
  width: 100%; // height: 768px;
  height: 100%; // position: absolute;
  // top: 20%;
  // left: 25%;
}

.begin {
  @extend %genericDiv;
}

.begin.switch {
  animation: beginEnd 2s;
  animation-fill-mode: forwards;
}

.inactive {
  display: none;
}

.svg {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto; // align-items: center;
  // justify-content: center;
}

@keyframes beginEnd {
  100% {
    opacity: 0;
  }
}

@keyframes rotateStar {
  20% {
    transform: rotate(0deg);
  } // 40%{
  //     transform: rotate(360deg) scale(1);
  // }
  70% {
    transform: rotate(720deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(20);
  }
}

@keyframes rotateRect {
  20% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-720deg);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(20);
  }
}

@keyframes scaleCircle {
  20% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(20);
  }
}

.begin.active {
  .rect {
    animation: rotateRect 5s;
    animation-fill-mode: forwards;
  }
  .circle {
    animation: scaleCircle 5s;
    animation-fill-mode: forwards;
  }
  .star {
    animation: rotateStar 5s; // transform: rotate(90deg);
    animation-fill-mode: forwards;
  }
}

.svg {
  .title {
    font-family: Roboto-Bold;
    font-size: 64px;
    fill: #ffffff;
    text-align: center;
    transform: translate(-10%, 0);
  }
  .subtitle {
    font-family: Roboto-Bold;
    font-size: 24px;
    fill: #ffffff;
    text-align: center;
  }
}

.question1 {
  @extend %genericDiv;

  .left {
    width: 60%;
    height: 100%;
    display: flex;
  }

  .right {
    width: 60%;
    height: 100%;
    background-color: $dark-blue;
  }
}

.question-content-width {
  width: 380px;
  margin: auto;
}

.question-number {
  color: #ff3c82;
  font-size: 64px;
  text-align: left;
}

.question-number + .question-desc {
  margin-top: 10px;
}

.question-desc + .choose-answer {
  margin-top: 16px;
}

.choose-answer + .answers {
  margin-top: 40px;
}

.question-desc {
  color: white;
  font-size: 36px;
  text-align: left;
}

.choose-answer {
  color: $dark-blue;
  font-size: 24px;
  text-align: left;
}

div.answers {
  button {
    border: 1px solid #ffffff;
    border-radius: 30.5px;
    width: 380px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
  }

  button + button {
    margin-top: 16px;
  }

  button:hover {
    color: $light-blue;
    background-color: #ffffff;
  }
}
