$blue: #1469FF;
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $blue;
}

.center {
  margin: auto;
  width: 540px;
  height: 540px;
  position: absolute;
  top: 20%;
  left: 30%;
}

.svg {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.svg-rect {
  // @extend %align-center;
  margin: auto;
  width: 150px;
  height: 150px;
  fill: black;
}