$light-blue: #1469ff;
$dark-blue: #0027c8;
$pink:#ff3c82;
$windowWidth: 1024px;
$windowHeight: 768px;
$q1-animation-time: 5s;
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: $windowWidth;
  height: $windowHeight;
  align-items: center;
  justify-content: center; // background-color: $light-blue;
}

%genericDiv {
  display: flex;
  margin: auto; // width: 1024px;
  width: 100%; // height: 768px;
  height: 100%; // position: absolute;
  // top: 20%;
  // left: 25%;
}

.begin {
  @extend %genericDiv;
}

.begin.switch {
  animation: beginEnd 2s;
  animation-fill-mode: forwards;
}

.inactive {
  display: none;
}

.svg {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto; // align-items: center;
  // justify-content: center;
}

@keyframes beginEnd {
  100% {
    opacity: 0;
  }
}

@keyframes rotateStar {
  20% {
    transform: rotate(0deg);
  } // 40%{
  //     transform: rotate(360deg) scale(1);
  // }
  70% {
    transform: rotate(720deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(20);
  }
}

@keyframes rotateRect {
  20% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-720deg);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(20);
  }
}

@keyframes scaleCircle {
  20% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(20);
  }
}

.begin.active {
  .rect {
    animation: rotateRect 5s;
    animation-fill-mode: forwards;
  }
  .circle {
    animation: scaleCircle 5s;
    animation-fill-mode: forwards;
  }
  .star {
    animation: rotateStar 5s; // transform: rotate(90deg);
    animation-fill-mode: forwards;
  }
}

.svg {
  .title {
    font-family: Roboto-Bold;
    font-size: 64px;
    fill: #ffffff;
    text-align: center;
    transform: translate(-10%, 0);
  }
  .subtitle {
    font-family: Roboto-Bold;
    font-size: 24px;
    fill: #ffffff;
    text-align: center;
  }
}

.question1 {
  @extend %genericDiv;
  background-color: $light-blue;
  .left {
    width: 60%;
    height: 100%;
    display: flex;
  }
  .right {
    width: 40%;
    height: 100%;
    background-color: $dark-blue;
    position: relative;
    div.triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 73.5px 127.3px 73.5px;
      border-color: transparent transparent #ffffff transparent;
      right: 30px;
      top: 320px;
    }
    div.rect {
      position: absolute;
      width: 180px;
      height: 180px;
      background-color: #ff3c82;
      top: 108px;
      left: 69px;
    }
    div.circle {
      position: absolute;
      width: 400px;
      height: 400px;
      background-color: #000000;
      border-radius: 50%;
      bottom: -220px;
      right: -10px;
    }
  }
}

.question1>.right.active {
  .rect {
    animation: q1-rect-ani $q1-animation-time;
    animation-fill-mode: forwards;
  }
  .triangle {
    animation: q1-tri-ani $q1-animation-time;
    animation-fill-mode: forwards;
  }
  .circle {
    animation: q1-circle-ani $q1-animation-time;
    animation-fill-mode: forwards;
  }
  animation: right-flyin-ani $q1-animation-time;
  animation-fill-mode: forwards;
}

@keyframes q1-rect-ani {
  0% {
    transform: translate(0, 700px);
  }
  20% {
    transform: translate(0, 700px);
  }
  40% {
    transform: translate(0, 0px);
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes q1-tri-ani {
  0% {
    transform: translate(0, 450px);
  }
  25% {
    transform: translate(0, 450px);
  }
  40% {
    transform: translate(0, 0px);
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes q1-circle-ani {
  0% {
    transform: translate(0, 700px);
  }
  20% {
    transform: translate(0, 400px);
  }
  30% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  80% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes right-flyin-ani {
  0% {
    transform: translate(600px);
  }
  20% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}

.question-content-width {
  width: 380px;
  margin: auto;
}

.question-number {
  color: #ff3c82;
  font-size: 64px;
  text-align: left;
}

.question-number+.question-desc {
  margin-top: 10px;
}

.question-desc+.choose-answer {
  margin-top: 16px;
}

.choose-answer+.answers {
  margin-top: 40px;
}

.question-desc {
  color: white;
  font-size: 36px;
  text-align: left;
}

.choose-answer {
  color: $dark-blue;
  font-size: 24px;
  text-align: left;
}

div.answers {
  button {
    border: 1px solid #ffffff;
    border-radius: 30.5px;
    width: 380px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
  }
  button+button {
    margin-top: 16px;
  }
  button:hover {
    color: $light-blue;
    background-color: #ffffff;
  }
}

.question2 {
  @extend %genericDiv;
  background-color: $dark-blue;
  .left {
    width: 40%;
    background-color: $pink; // animation: left-flyin-in 2s;
    animation: left-flyin-ani 2s;
    animation-fill-mode: forwards;
  }
  .left.active {
    div.triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 73.5px 127.3px 73.5px;
      border-color: transparent transparent #ffffff transparent;
      right: 30px;
      top: 320px;
    }
    div.rect {
      position: absolute;
      width: 180px;
      height: 180px;
      background-color: #ff3c82;
      top: 108px;
      left: 69px;
    }
    div.circle {
      position: absolute;
      width: 400px;
      height: 400px;
      background-color: #000000;
      border-radius: 50%;
      bottom: -220px;
      right: -10px;
    }
  }
  .right {
    width: 60%; // position: absolute;
    // left: 27%;
    // top: 10%;
    display: flex;
    .choose-answer {
      color: $light-blue;
    }
  }
}

.question2.start {
  .left {
    width: 60%;
    background-color: $light-blue;
    animation: q1End 2s;
    animation-fill-mode: forwards;
    div {
      display: none;
    }
  }
  .right {
    * {
      display: none;
    }
  }
}

@keyframes q1End {
  from {
    width: 60%;
  }
  to {
    width: 0%;
  }
}

@keyframes left-flyin-ani {
  from {
    // width: 0%;
    transform: translate(-100%);
  }
  to {
    // width: 40%;
    transform: translate(0);
  }
}